{{define "content"}}
  <h1>You're in the Dashboard View {{.Message}}!</h1>
  <p> Chain ID:  {{.ChainAddress}} </p>
  <p> Wallet Address:  {{.WalletAddress}} </p>
  <p> Owner address:  {{.Owner}} </p>

{{end}}

{{define "left"}}
 <svg class="Rectangle_3">
		 <rect id="Rectangle_3" rx="0" ry="0" x="0" y="0" width="292" height="120">
		 </rect>
	</svg>
  <div id="SalmanWap">
      <span>SalmanWap</span>
  </div>
  <div id="Group_3">
  	   <div id="Home_s">
            <span>Home</span>
  	    </div>
      </div>

	 <div id="Group_4">
  		  <div id="Team">
   			  <span>Team</span>
 		    </div>
       </div>
    	<div id="Group_7">
	       <div id="Settings">
                <span>Settings</span>
   		    </div>
       </div>
     	<div id="Group_5">
		      <div id="Calls">
	            <span>Calls</span>
   		     </div>
        </div>

      	<div id="Meetings">
  		      <span>Meetings</span>
		   </div>

         <svg class="Line_1" viewBox="0 0 78 4">
 		      <path id="Line_1" d="M 0 0 L 78 0">
 	     </path>
	    </svg>

     <div id="Group_8">
	       <div id="Analytics">
		        <span>Analytics</span>
		     </div>
	     </div>
  </div>

 {{end}}